<!-- <div class="p-2">
    <div class="overflow-x-auto">
        <table class="table">

            <thead>
                <tr>
                    <th>Redni broj</th>
                    <th>Ime</th>
                    <th>Broj bodova</th>
                </tr>
            </thead>
            
            <tbody>

                {{#each result.items}}
                <tr>
                    <th>{{this.id}}</th>
                    <td>{{this.name}}</td>
                    <td>
                        <div class="line-clamp-2">
                            {{this.description}}
                        </div>
                    </td>
                    <td x-data="{}">
                        <span x-text="new Date('{{this.apply_till}}').toLocaleString()"></span>
                    </td>
                    <td>{{this.author}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div> -->
<div class="p-2">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <p class="pt-3">
                Uspješno ste prijavljeni na natjecanje
            </p>
            <p class="py-3 text-xs brightness-50">
                {{message}}
            </p>
            <a href="/" class="btn btn-primary">Naslovnica</a>
        </div>
    </div>
    {{#if result.display_form}}
     <form action="/competitions/applied" method="get" class="flex flex-col gap-2"></form>
     {{/if}}
</div>