<div class="min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">{{#each data.items}}{{natjecanje}}{{/each}}</h1>
            <p class="py-6"x-data="{}"><span x-text="new Date('{{#each data.items}}{{datum}}{{/each}}'.toLocaleString()"></span></p>
            <h2 class="text-xl font-bold">Poredak</h2>
            <div class="overflow-x-auto">
                <table class="table">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ime</th>
                            <th>Bodovi</th>
                        </tr>
                    </thead>

                    <!-- body -->
                    <tbody>
                        {{#each result.items}}
                        <tr>
                            <th>{{@index}}</th>
                            <td>{{this.natjecatelj}}</td>
                            <td>{{this.score}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>