<div class="" p-2>
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th>Redni broj</th>
                    <th>Ime</th>
                    <th>Broj bodova</th>
                    <th>Rok prijave</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <!-- body -->
            <tbody>

                {{#each result.items}}
                <tr>
                    <th>{{this.id}}</th>
                    <td>{{this.name}}</td>
                    <td>
                        <div class="line-clamp-2">
                            {{this.description}}
                        </div>
                    </td>
                    <td x-data="{}">
                        <span x-text="new Date('{{this.apply_till}}').toLocaleString()"></span>
                    </td>
                    <td>{{this.author}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>